{{ define "main" }}

<link rel="stylesheet" href="/css/books.css">

<section id="books" class="py-5">
  <div class="container">
    <h3 class="text-center mb-4">Books</h3>
    <div class="books-page-desc mb-4 text-center">
      <p>
      Here's a list of books I've read, with some scattered notes. They're sorted by how much I liked them, totally subjective and partial, as usual.<br>
      Feel free to browse the notes, but don't expect anything comprehensive. You'll find technical, psychology, lifestyle, history, and science books, basically anything I managed to take notes on. I usually don't review fiction, but a few are included too.
      </p>
      <p>      
        <hr>
        Got feedback or want to recommend a book? <a href="/#contact">Reach out to me</a>!
      </p>
    </div>
    <div class="row justify-content-center px-3 px-md-5">
      {{ range sort (sort .Pages "Params.score" "asc") "Params.score" "desc" }}
      <div class="col-lg-4 col-md-6 my-3">
        <div class="card h-100" title="{{ .Title }}">
          <a href="{{ .RelPermalink }}" class="card-link-wrapper">
            <div class="card-head">
              <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
            </div>
            <div class="card-body bg-transparent p-3 position-relative">
              {{ if .Params.score }}
                <div class="book-score">{{ .Params.score }}</div>
              {{ end }}
              {{ if .Params.badges }}
              <div class="pb-2 bg-transparent">
                {{ range .Params.badges }}
                <span class="badge badge-secondary">{{ . }}</span>
                {{ end }}
              </div>
              {{ end }}
              <h5 class="card-title bg-transparent mt-2">{{ .Title }}</h5>
              <p class="secondary-font mb-2"><em>{{ .Params.author }}</em></p>
              <div class="card-text bg-transparent secondary-font">
                {{ .Params.summary | default (.Summary | truncate 200) }}
              </div>
            </div>
          </a>
          <div class="card-footer text-center py-2">
            <a class="btn btn-sm" href="{{ .RelPermalink }}">Details</a>
            {{ if .Params.link }}
            <a class="btn btn-sm" href="{{ .Params.link }}" target="_blank">Buy</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
